*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%;
  background: radial-gradient(at center, #222121, #2f2e2e);
  color: #fff;
  font-family: "Poppins", "Times New Roman"; }

@media (max-width: 62.5em) {
  html {
    font-size: 50%; } }

@media (max-width: 50em) {
  html {
    font-size: 31.25%; } }

@media (max-width: 31.25em) {
  html {
    font-size: 25%; } }

::-webkit-scrollbar {
  width: .8rem; }

::-webkit-scrollbar-thumb {
  background-color: #1F51FF;
  border-radius: 1rem; }

.navbar {
  height: 10vh;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  margin-block-end: 5rem;
  color: #000; }
  .navbar__list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase; }
  .navbar__listitem {
    height: 90%;
    width: 100%;
    color: #1F51FF;
    padding: 0 2rem;
    margin-block-end: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer; }
  .navbar__listitem:not(:last-child) {
    border-right: 1px solid #eee; }
  .navbar__listlink {
    text-decoration: none;
    height: 100%;
    width: 90%;
    display: grid;
    place-items: center;
    border-radius: 0 0 2rem 2rem;
    transition: all .3s ease-in-out;
    color: #eee;
    background-color: #1F51FF;
    box-shadow: 0 0 2rem #1F51FF; }
  .navbar__listlink:hover {
    color: #1F51FF;
    background-color: #eee;
    box-shadow: 0 0 2rem #eee; }

.hero {
  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center; }
  .hero__image {
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center; }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly; }
    .hero__content .hero__name {
      font-size: 7.5rem;
      font-weight: 200;
      letter-spacing: .1em; }
    .hero__content .hero__tagline {
      width: 75%;
      font-size: 1.3rem;
      font-weight: 300; }

.float_nav {
  display: none; }

@media (max-width: 25em) {
  .navbar {
    display: none; }
  .float_nav > .navbar__list {
    display: none; }
  .float_nav {
    display: block;
    position: absolute;
    z-index: 10;
    right: 5rem;
    top: 5rem;
    height: 12rem;
    width: 12rem;
    background-color: lime;
    border-radius: 50%; }
  .float_nav[data-hidden=true] {
    height: 1000rem;
    width: 100%;
    background-color: red;
    border-radius: initial; }
    .float_nav[data-hidden=true] > .navbar__list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 50vh;
      gap: 2rem; } }

@media (max-width: 25em) {
  .hero {
    flex-direction: column;
    justify-content: center;
    gap: 2rem; } }

.projects__heading {
  scale: .8;
  opacity: 0;
  width: max-content;
  font-size: 5rem;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: start;
  position: relative;
  text-decoration: underline .3rem;
  text-underline-offset: 2rem;
  animation: fade-in forwards;
  animation-timeline: view(); }
  .projects__heading > span {
    text-transform: lowercase; }

.projects__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-inline: 5rem; }

.projects__project {
  min-height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--color1) var(--percent), var(--color2) var(--percent)), var(--url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--size);
  scale: .8;
  opacity: 0;
  animation: fade-in forwards;
  animation-timeline: view();
  animation-range: entry; }

@media (max-width: 62.5em) {
  .projects__project {
    min-height: 110vh; } }

@media (max-width: 50em) {
  .projects__project {
    min-height: 70vh; } }

.projects__project_details {
  height: 100%;
  width: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem; }

.projects__project_title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1rem;
  text-align: center;
  outline: .2rem solid #eee;
  outline-offset: 1rem;
  margin-block-start: 1rem; }

.projects__project_desc {
  font-size: 1.3rem;
  margin-inline: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 200;
  text-align: baseline; }

@media (max-width: 31.25em) {
  .projects__project_desc {
    font-size: 1.2rem; } }

@media (max-width: 25em) {
  .projects__project {
    background: linear-gradient(to right bottom, #1F51FF, #0029b8); }
  .projects__project_details {
    outline: 2px solid #eee;
    height: 70vh;
    width: 100%;
    position: initial;
    gap: 0;
    justify-content: space-evenly;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6); }
  .projects__project_title {
    font-size: 5rem; }
  .projects__project_desc {
    font-size: 1.5rem; } }

.projects__project_link, .projects__project_link:visited {
  color: #1F51FF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: .4rem;
  background-color: #eee;
  height: 4rem;
  width: 10rem;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  transition: all .4s ease-in-out; }

.projects__project_link:hover {
  translate: 0 -.5rem;
  scale: 1.01;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

.projects__project_link:active {
  translate: 0 .2rem;
  scale: .99;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.8); }

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1; } }

@keyframes slide-right {
  to {
    width: 100%; } }

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  margin-block-start: 1rem;
  background-color: #151414; }
  .footer__contact {
    width: 25%;
    height: 100%;
    margin-inline: 5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
    justify-content: center; }
    .footer__contact > p {
      font-size: 1.2rem;
      font-family: "Poppins", "Times New Roman";
      letter-spacing: .2rem;
      text-transform: uppercase; }
      .footer__contact > p > a {
        color: #eee;
        text-underline-offset: 1rem; }
  .footer__socials {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-left: 1px solid #eee; }
  .footer__icon {
    fill: #eee;
    height: 5rem;
    width: 5rem; }
  .footer__icon-container {
    position: relative;
    cursor: pointer; }
    .footer__icon-container::after {
      content: attr(data-tag);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: max-content;
      background-color: transparent;
      color: #eee;
      text-align: center;
      font-size: 1.4rem;
      font-family: "Poppins";
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .2rem;
      scale: .8;
      opacity: 0;
      translate: 0 -.5em;
      transition: scale .3s,opacity .3s,translate .3s; }
    .footer__icon-container:hover::after {
      scale: 1;
      opacity: 1;
      translate: 0 .1em; }
