.navbar {
    height: 10vh;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    margin-block-end: 5rem;
    color: #000;

    &__list {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &__listitem {
        height: 90%;
        width: 100%;
        color : $color-primary;
        padding: 0 2rem;
        margin-block-end:  1rem;
        display: grid;
        place-items: center;
        cursor:pointer;
    }
    &__listitem:not(:last-child){
        border-right: 1px solid #eee;
    }
    &__listlink{
        text-decoration: none;
        height: 100%;
        width: 90%;
        display: grid;
        place-items: center;
        border-radius: 0 0 2rem 2rem;
        transition: all .3s ease-in-out;
        color: #eee;
        background-color:  $color-primary;
        box-shadow: 0 0 2rem $color-primary;
    }
    &__listlink:hover{
        color: $color-primary;
        background-color: #eee;
        box-shadow: 0 0 2rem #eee;
    }

}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;


    &__image {
        height: 35rem;
        width: 35rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-evenly;
        .hero__name {
            font-size: 7.5rem;
            font-weight: 200;
            letter-spacing: .1em;
        }

        .hero__tagline {
            width: 75%;
            font-size: 1.3rem;
            font-weight: 300;

        }
    }
}
@media (max-width:25em) {
    .navbar{
        display: none;
    }
    .float_nav>.navbar__list{
        display: none;
    }
    .float_nav{
        position: absolute;
        z-index: 10;
        right: 5rem;
        top: 5rem;
        height: 12rem;
        width: 12rem;
        background-color: lime;
        border-radius: 50%;
    }
    .float_nav[data-hidden=true]{
        height: 1000rem;
        width: 100%;
        background-color: red;
        border-radius: initial;

        &>.navbar__list{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 50vh;
            gap: 2rem;
        }
    }
}
@media (max-width:25em){
    .hero{
        flex-direction: column;
        justify-content: center;
        gap: 2rem
    };
}